<h1 class="h4 edit-title" contentEditable="true"><%= @source.title %></h1>
<h2 class="h6 edit-authors" contentEditable="true"><%= @source.authors %></h2>
<em class="smaller text-muted"><%= @source.html_file %></em>
<!-- <div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <a href="#" class="btn btn-sm btn-outline-secondary clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= render 'source_plain', source: @source %>">Copy</a>
  </div>
</div> -->