<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Acronym</h1>
  </div>

  <%= render 'form', acronym: @acronym %>
  <%= link_to 'Back', acronyms_path %>

  <br>
  
</main>





