<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Results</h1>
  </div>

  <% unless @results.any? %>
    <p><em>No search results.</em></p>
  <% end %>

  <% @results.each do |result| %>
    <table class="table table-sm">
      <% JSON.parse(result).each_with_index do |annotation_id,index| %>
        <% if index == 0 %>
          <thead class="thead-light">
            <tr>
              <th></th>
              <th scope="col"><%= highlight(Annotation.find(annotation_id).source.title,@search_term) %></th>
            </tr>
          </thead>
          <tbody>
        <% end %>
        <tr>
          <td>
            <% disabled = Hold.where(annotation_id: annotation_id).present? %>
            <%= button_to 'Hold', holds_path(:annotation_id => Annotation.find(annotation_id)), method: :post, :class => "btn btn-sm btn-warning", disabled: disabled %>
          </td>
          <td><small><%= highlight(Annotation.find(annotation_id).body,@search_term) %></small></td>
        </tr>
        <% if index == JSON.parse(result).count %>
          </tbody>
        <% end %>
      <% end %>
    </table>
    <br>
  <% end %>

  <br>
</main>