<% @title="Acronyms" %>
<%= render 'layouts/notice', notice: @notice %>

<a href="#" class="btn mr-2 btn-falcon-default clipboard-btn float-right" data-clipboard-action="copy" data-clipboard-target="#grakn_data">Copy</a>
<h1>Grakn</h1>
<hr>

<!-- <%= link_to :Aylien, aylien_url %> -->
<p id="grakn_data">
<%= render 'grakn_plain' %>
</p>