/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables.bootstrap4.min.css
 *= requrie responsive.bootstrap4.css
 *= require_tree .
 *= require_self
 */

 .hold-caption {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.25rem .5rem;
  cursor: pointer;
  margin-bottom: 5px;
}
.hold-caption:hover {
  overflow: visible;
  white-space: normal;
}
a.rm-hold-caption {
  text-decoration: none;
  color: #495057;
}
a.rm-hold-caption:hover {
  color: #dc3545;
  text-decoration: none;
}

#strands li {
  cursor: pointer;
}

.card-footer{
  position:absolute;
  bottom:0;
  width:100%;
}
.card-deck .card{
  padding-bottom:50px;
}

.breakit {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20px;
}

.hashtag {
  cursor: pointer;
}

.copy {
  cursor: pointer;
}