<% @title=@thought.name %>
<%= render 'layouts/notice', notice: @notice %>
<div class="card mb-3">
	<%= render 'header', thought: @thought %>
</div>

<div id="stori">
	<%= render 'stori', thought: @thought %>
</div>